<ul class="appointments">
    <li *ngFor="let appointment of appointments">
        <button type="button" [class.selected]="appointment === selectedAppointment" (click)="onSelect(appointment)">
            <span class="badge">{{appointment.id}}</span>
            <span class="name">{{appointment.petName}}</span>
            <!-- <div><span>Owner: </span>{{appointment.ownerName}}</div>
            <div><span>Contact Details: </span>{{appointment.contactDetails}}</div>
            <div><span>Appointment: </span>{{appointment.appointmentTime}}</div> -->
        </button>
        <!-- <div>
            <label for="ownerName">Owner name: </label>
            <input id="ownerName" [(ngModel)]="appointment.ownerName" placeholder="ownerName">
        </div> -->
    </li>
    <div *ngIf="selectedAppointment">
        <h2>{{selectedAppointment.petName | uppercase}} Details</h2>
        <div>id: {{selectedAppointment.id}}</div>
        <div>
          <label for="hero-name">Pet name: </label>
          <input id="hero-name" [(ngModel)]="selectedAppointment.petName" placeholder="name">
        </div>
      </div>
</ul>
