<ul class="appointments">
    <!-- Total @angular packages: {{totalAngularPackages}} -->
    <button type="button">
        <span class="badge">No.</span>
        <span class="date">Date</span>
        <span class="name">Pet Name</span>
        <span class="ownerName">Owner Name</span>
        <span class="name">Contact Details</span>
    </button>
    <li *ngFor="let appointment of appointments">
        <button type="button" [class.selected]="appointment === selectedAppointment" (click)="onSelect(appointment)">
            <span class="badge">{{appointment.id}}</span>
            <span class="date">{{appointment.appointmentTime}}</span>
            <span class="name">{{appointment.petName}}</span>
            <span class="ownerName">{{appointment.ownerName}}</span>
            <span class="name">{{appointment.contactDetails}}</span>
            <!-- <div><span>Owner: </span>{{appointment.ownerName}}</div>
            <div><span>Contact Details: </span>{{appointment.contactDetails}}</div>
            <div><span>Appointment: </span>{{appointment.appointmentTime}}</div> -->
        </button>
        <!-- <div>
            <label for="ownerName">Owner name: </label>
            <input id="ownerName" [(ngModel)]="appointment.ownerName" placeholder="ownerName">
        </div> -->
    </li>
    <app-appointment-detail [appointment]="selectedAppointment"></app-appointment-detail>
</ul>
